/* GRILLAS */
$columns : 12;
$column-width : 100%/$columns;
$breakpoints : (xs : 0, sm : 768px, md : 992px, lg : 1200px );
@function column-width($column){
  @return $column-width*$column;
}
@mixin column($media, $min-width){
  @media (min-width:$min-width){
    @for $i from 1 through $columns {
      .column-#{$media}-#{$i} {
        width: column-width($i);
      }
    }
  }
}
@each $name, $width in $breakpoints {
  @include column($name, $width);
}

/* COLORES */

$dark-gray-titles : #424242;
$light-gray-arrow : #5f6368;
$gray-text : #414549;
$blue : #4285f4;

/* FONT SIZE*/

$font-size-li: 20px;

/*PADDING*/

$margin-google: 130px 120px 130px 20px;

/* BODY */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'
}

/* HEADER */

header{
   width: 100%;
}

.google{
   display: block;
   margin: 0 auto;
   margin-top: 3.6%;
}

a{
	text-decoration: none;
}

.li{
	color: $gray-text;
  font-weigth: bold;
}

/*Centrar nav*/
nav{
  ul{
    li{
      display: inline-block;
      list-style-type: none;
      margin:15px;
      font-weight: 600;
    }
  }
}

div{
  nav{
    text-align: center;
  }
}