/* GRILLAS */
$columns : 12;
$column-width : 100%/$columns;
$breakpoints : (xs : 0, sm : 768px, md : 992px, lg : 1200px );
@function column-width($column){
  @return $column-width*$column;
}
@mixin column($media, $min-width){
  @media (min-width:$min-width){
    @for $i from 1 through $columns {
      .column-#{$media}-#{$i} {
        width: column-width($i);
      }
    }
  }
}
@each $name, $width in $breakpoints {
  @include column($name, $width);
}

/* COLORES */

$dark-gray-titles : #424242;
$light-gray-arrow : #5f6368;
$gray-text : #414549;
$blue : #4285f4;

/* FONT SIZE*/

$font-size-li: 20px;

/* BODY */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'
}

/* HEADER */

header{
   width: 100%;
}

.google{
   display: block;
   margin: 0 auto;
   margin-top: 3.6%;
}

a{
	text-decoration: none;
}

.li{
	color: $gray-text;
  font-weigth: bold;
}

/*Centrar nav*/
nav{
  ul{
    li{
      display: inline-block;
      list-style-type: none;
      margin:15px;
      font-weight: 600;
    }
  }
}

div{
  nav{
    text-align: center;
  }
}

/* SECTION PODCAST*/

$margin-bottom-podcast: 23px;
.margin-global{
  margin-left:65px;
  margin-right:65px;
}
.podcast{
  @extend .margin-global;
  margin-top: 100px;
  color: $gray-text;
}

.spaced{
  letter-spacing: 2px;
}

.podcast-h1{
  margin-bottom: $margin-bottom-podcast;
}

.podcast-h3{
  margin-bottom: $margin-bottom-podcast;
}

.podcast-p1{
  margin-bottom: $margin-bottom-podcast;
}

.podcast-p2{
  margin-bottom: $margin-bottom-podcast*4;
}

/* HR BLUE LARGE */

.blue-large{
  @extend .margin-global;
  color:$blue; 
  background-color:$blue;
  border-style:solid;
  height:4px;
}

/* NEWSFEED */


.newsfeed{
  @extend .margin-global;
  margin-bottom: $margin-bottom-podcast*4;
}

.title-1{
  color: $gray-text;
  margin-bottom: $margin-bottom-podcast;
  margin-top: $margin-bottom-podcast + 15;
}

$margin-bottom-date: 10px;

.date-1{
  color: $gray-text;
  font-family: 'Roboto mono';
  margin-bottom: $margin-bottom-date;
}

.div2{
  margin-left: 51%;
  margin-top: -41%;
}

.p-2{
  margin-bottom: 40px;
}

$margin-anchor: 5%;
.anchor-image{
  margin-left:$margin-anchor;
}

.gd-logo{
   margin-left:$margin-anchor *10;
}

/* THIRD SECTION */
.third-section{
  @extend .margin-global;
  margin-bottom: $margin-bottom-podcast*4;
}

.container-images{
  margin-top:$margin-bottom-podcast*3;
}

.right{
  margin-left: $margin-anchor+4;
}

.third-p{
  @extend .spaced;
  margin-top:$margin-bottom-podcast;
}

.div-2-right{
  margin-left: $margin-anchor+48;
  margin-top: -175px;
}

.blue-small{
  color:$blue; 
  background-color:$blue;
  border-style:solid;
  height:4px;
  margin-top: -91%;
}

.blue-large2{
  @extend .blue-large;
  margin-top: 400px;
}

/* FOURTH SECTION*/

.fourth-section{
  @extend .margin-global;
}

